In [11]:
import mysql.connector
import LLM
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="ayon_0611",
  database="SCHOOL"
)

In [28]:
LLM.getquery("Create a table named STUDENTS AND ADD 2 FEATURES")

'CREATE TABLE students (\n  student_id INT NOT NULL,\n  first'

In [22]:
mycursor = mydb.cursor()
mycursor.execute(outlund)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 3

In [8]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('ayon_2',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)